.card {
  background-color: #ffffffe5;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.title {
  border: solid black 1px;
}


.tile:hover .card {
  border: #ccc 1px solid;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #878787;
  border-radius: 60%;
}

.plus-icon {
  font-size: 32px;
  color: #878787d7;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  color: #878787;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
  width: 70%;
  max-width: 450px;
  max-height: 90%;
  overflow-y: auto;
  margin-top: 10px;
  background-color: rgba(237, 237, 237, 0.97) !important;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;  
  z-index: 1;
  background-color: #12121280;
  overflow-y: auto;
}

#form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
}

.submitBtn,
.closeBtn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.submitBtn {
  background-color: #3dc23d;
}

.closeBtn {
  background-color: #cf3c37;
}

.popup-buttons {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .popup-content {
    width: 90%;
    margin-top: 30px;
  }
  .submitBtn,
  .closeBtn {
    width: 60%;
    margin-top: 2%;
  }
}
@media (min-width: 601px) and (max-width: 766px) {
  .popup-content {
    margin-top: 130px;
    width: 90%;
    height: auto;
  }
}
@media (min-width: 767px) and (max-width: 1274px) {
  .popup-content {
    margin-top: 75px; 
    width: 90%;
    height: auto;
  }
}
@media (min-width: 1275px) {
  .popup-content {
    margin-top: 25px; 
    width: 90%;
    height: auto;
  }
}
input[type="file"] {
  display: none;
}

label[for="file-upload"] {
  padding: 10px;
  background-color: #ccc;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

#addProject {
  width: 31%;
  border: 1px solid black;
  position: relative;
  margin-top: 20px;
  perspective: 1000px;
  height: 570px;
}

@media (max-width: 600px) {
  #addProject {
    width: 100%;
    height: 570px;
  }
}
@media (min-width: 601px) and (max-width: 840px) {
  #addProject {
    width: 70%;
    height: 570px;
  }
}
@media (min-width: 841px) and (max-width: 991px) {
  #addProject {
    width: 45%;
    height: 570px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  #addProject {
    width: 45%;
    height: 570px;
    margin-top: 20px;
  }
}
@media (min-width: 1101px) {
  #addProject {
    width: 31%;
    height: 570px;
    margin-top: 20px;
  }
}
#addProject:hover {
  transform: scale(1.05);
  border: 1px solid gray;
}
.imagePreview{
  width: 100%;
  height: 300px;
  display: none;
  background-size: contain;
background-position: center;
background-repeat: no-repeat;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  width:75%;
}
#special-badge {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
#special-badge .btn {
  padding: 0.5em 1.2em;
  margin: 5px; 
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: rgb(30, 119, 30);
}

#special-badge .btn.btn.active {
  background-color: rgb(46, 182, 46);
  color: white;
}

#special-badge .btn:nth-child(-n+6) {
  background-color: rgb(38, 49, 150);
}
#special-badge .btn:nth-child(-n+6).btn.active {
  background-color: #206ab3;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#special-badge::after,
#tags::after {
  content: "";
  width: 100%;
  border-top: 1px solid #a2a2a2;
  margin-top: 1em;
}
.btn {
  padding: 0.5em 1.2em;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
}
@media (max-width: 767px) {
  .btn {
    margin: 5px;
    font-size: 12px;
  }
}
#tags .btn {
  background-color: #da1717;
}
#tags .btn.active {
  background-color: #ff3e3e;
}
.tile {
  display: none;
}
.show {
  display: block !important;
}
#all-btn {
  background-color: #da1717 !important; 
}
.separator {
  display: inline-block;
  width: 1px;
  height: 30px;
  margin: 0 10px;
  background-color: #a2a2a2;
}
#form-login {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #12121280;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
h3 {
  margin-top: 5px;
  font-size: 24px;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 16px;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
}
.submitLogin {
  background-color: #3fb443;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.closeLogin {
  background-color: #f9372a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.closeLogin:hover,
.submitLogin:hover {
  opacity: 0.8;
}
#signIn-container {
  position: absolute;
  top: 50px;
  right: 20px;
}
#signIn {
  background-color: rgba(156, 156, 156, 0.786);
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
#signIn,
#signOut {
  width: 100px;
}
#signOut {
  background-color:  #da1717;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
#signIn:hover,
#signOut:hover {
  opacity: 0.8;
}
@media (max-width: 600px) {
  #signIn-container {
    top: 10px;
    right: 1px;
    margin-top: 40px;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-end;
  }
  #signIn,
  #signOut {
    width: 60px;
    margin-left: 3px; 
    font-size: 10px;
    flex: 1; 
  }
  #UserInfo {
    font-size: 10px;
    align-self: flex-end;
    margin-top: 1px; 
    width: 100%; 
    text-align: right; 
  }
}
@media (min-width: 601px) and (max-width: 767px) {
  #signIn-container {
    top: 10px;
    right: 10px;
    margin-top: 140px;
  }
  #signIn,
  #signOut {
    width: 70px;
    font-size: 10px;
  }
  #UserInfo {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 774px) {
  #signIn-container {
    top: 10px;
    right: 10px;
    margin-top: 140px;
  }
  #signIn,
  #signOut {
    width: 80px;
    font-size: 14px;
  }
  #UserInfo {
    font-size: 12px;
  }
}
@media (min-width: 775px) and (max-width: 1407px) {
  #signIn-container {
    top: 10px;
    right: 10px;
    margin-top: 90px;
  }
  #signIn,
  #signOut {
    width: 80px;
    font-size: 14px;
  }
  #UserInfo {
    font-size: 12px;
  }
}
