.image {
  width: 100%;
  height: 300px;
  display: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.imageEdit {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

  .dugmici {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#dugmic{
    height: 5%;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    border-radius: 30px;
    background-color: #f26a2e;
    border:1px solid white;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#dugmic:hover{
  background-color:#7d2c09;
}


#forma, #editForma {
  max-width: 30%;
  margin-left:35%;
  margin-right:35%;
  margin-top:2%;
  margin-bottom:2%;
  height:70%;
  background-color: #a29a9a;
  background-image: linear-gradient(to bottom, #f9f9f9, #e6e6e6); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y:auto;
  z-index: 2;
}



#formaSignIn {
  max-width: 30%;
  margin-left:35%;
  margin-right:35%;
  margin-top:2%;
  margin-bottom:2%;
  height:70%;
  background-color: #a29a9a;
  background-image: linear-gradient(to bottom, #f9f9f9, #e6e6e6); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y:auto;
  z-index: 2;
}


  #overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    z-index: 1;
  }

  #overlay2{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    z-index: 1;
  }


  
  .footer {
    text-align: center;
    position: relative;
  }

  .footer2 {
    text-align: center;
    position: relative;
  }
  
  #naslov {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    display: inline-block;
  }
  
  .close-button {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
  }
  .close-button:hover {
    color: red;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s, border-color 0.3s;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.168);
  }
  
  .form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5);
  }
  .form-control-file {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
  }
  

  .dugmici {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.2s;
  }
  
  .btn-outline-success {
    color: #28a745;
    border: 1px solid #28a745;
  }
  
  .btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
  }
  

  .btn-outline-success:hover,
.btn-outline-success:focus {
  background-color: #28a745;
  color: #fff;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
  background-color: #dc3545;
  color: #fff;
}


.odjavaPrijava button {
  padding: 5px 20px;
  font-size: 16px;
  background-color: #f26a2e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.odjavaPrijava button:last-child {
  margin-right: 0;
}

.odjavaPrijava {
   position: absolute; 
  top: 70px; 
  right: 10px;
  display: flex;
  align-items: center; 
}

.userInfoWrapper {
  margin-right: 10px;
}

.odjavaPrijava button:hover {
  background-color: #7d2c09;
}



.card {
  position: relative;
  width: 300px;
  border: 1px solid #ccccccc8;
  border-radius: 30px;
  box-shadow: 30px 4px 30px rgba(0, 0, 0, 0.1); 
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; 
}



.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin: 0 auto 10px;
  display: block;
  border: 1px solid #ccccccc8;
}

.name {
  font-size: 24px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 16px;
  color: #888;
  text-align: center;
  margin: 10px 0;
}

.quote {
  font-size: 16px;
  font-style: italic;
  color: #555;
  margin: 10px 0;
  text-align:center;
}

.mail{
  text-align: center;
  color: #888;
 
}

.contact a {
  text-decoration: none;
  color: #f26a2e;
  font-size: 18px; 
  padding: 5px 10px;
  border: 1px solid #f26a2e;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  display: block;

}

.contact{
  width:50%;
   margin-left: 25%;
  margin-right: 25%; 
}

.contact a:hover {
  background-color:#f26a2e;
  color: #fff;
}

.delete-button1,.delete-button2,.delete-button3 {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #060101;
}

.delete-button1:hover,.delete-button2:hover,.delete-button3:hover {
  color: #e80909;
}

.CEO{
  display: flex;
  flex-wrap:wrap;
  gap:20px;
}
#PCEO, #PMANAGER, #PINTERN{
  color:#ff9800;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  font-style: italic;
}

.Manager{
  display: flex;
  flex-wrap:wrap;
  gap:20px;
}

.Intern{
  display: flex;
  flex-wrap:wrap;
  gap:20px;
}

.linijaC hr {
  border: none; 
  border-top: 3px solid #f26a2e; 
  margin: 0 auto;
}

.linijaM hr {
  border: none; 
  border-top: 3px solid #f26a2e; 
  margin: 0 auto;
}


.linijaI hr {
  border: none; 
  border-top: 3px solid #f26a2e; 
  margin: 0 auto;
}

.uredi1,.uredi2,.uredi3{
  position: absolute;
 top: 5px;
 left: 0px; 
 font-size: 35px;
 background-color: transparent;
 border: none;
 cursor: pointer;
 color: #060101;
 display:none;
}

.uredi1:hover,.uredi2:hover,.uredi3:hover{
 color:orange;
}

.card:hover{
 box-shadow: 30px 20px 30px rgba(0, 0, 0, 0.304); 
}













